/*estilo da navbar*/
body {
    font-family: 'Inter', sans-serif;
}

.navbar {
    padding: 40px 80px;
}

.navbar__conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    padding: 0 32px;
}

.navbar__navegacao {
    width: 362px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
}

.navbar__link {
    text-decoration: none;
    color: #667085;
}

.navbar__espaco {
    width: 142px;
}

.navbar__botoes-de-acesso {
    width: 207px;
    display: flex;
    justify-content: space-between;
}

.navbar__botao {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.navbar__botao--entrar {
    width: 83px;
    height: 44px;
    border: none;
    background-color: #FFFFFF;
    color: #667085;
}

.navbar__botao--cadastrar {
    width: 112px;
    height: 44px;
    background-color: #8E2424;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
}
/**/

