body {
    font-family: 'Inter', sans-serif;
}

/*estilo da navbar*/

.navbar {
    padding: 18px 80px;
}

.navbar__conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    padding: 0 32px;
}

.navbar__logo {
    width: auto;
}

.navbar__navegacao {
    width: 25.1vw;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    flex-wrap: wrap;
}

.navbar__link {
    text-decoration: none;
    color: #667085;
}

.navbar__gap {
    width: 9.85vw;
}

.navbar__botoes-de-acesso {
    width: 207px;
    display: flex;
    justify-content: space-between;
}

.navbar__botao {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
}

.navbar__botao--entrar {
    width: 83px;
    height: 44px;
    border: none;
    background-color: #FFFFFF;
    color: #667085;
}

.navbar__botao--cadastrar {
    width: 112px;
    height: 44px;
    background-color: #8E2424;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
}
/**/

/*estilo do cabeçalho*/
.cabecalho {
    padding: 96px 0;
    text-align: center;
}

.cabecalho__titulo-da-pagina {
    font-weight: 600;
    color: #8E2424;
    line-height: 26px;
}

.cabecalho__titulo {
    font-weight: 600;
    color: #101828;
    font-size: 3rem;
    padding: 24px 0;
    line-height: 60px;
}

.cabecalho__descricao {
    width: 55vw;
    color: #667085;
    font-size: 1.25rem;
    line-height: 30px;
    padding: 12px 0 0;
    display: inline-block;
}
/**/

/*estilo da seção de metricas*/
.metricas {
    display: grid;
    grid-template-columns: repeat(4, 19vw);
    justify-content: center;
    gap: 32px;
    padding: 96px 0;
}

.metricas__titulo {
    font-weight: 600;
    font-size: 3.75rem;
    color: #8E2424;
    line-height: 72px;
}

.metricas__subtitulo {
    font-weight: 500;
    font-size: 1.125rem;
    color: #101828;
    line-height: 28px;
}

.metricas__texto {
    color: #667085;
    line-height: 24px;
    width: 280px;
}
/**/

/*estilo da seção da chamada*/
.chamada {
    text-align: center;
    padding: 64px 0
}

.chamada__vagas-abertas {
    font-weight: 500;
    display: inline-block;
    width: 8.7vw;
    font-size: 0.875rem;
    line-height: 20px;
    color: #8E2424;
    background-color: #8E24240D;
    border-radius: 16px;
}

.chamada__titulo {
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 44px;
    color: #101828;
    margin: 16px 0 20px;
}

.chamada__descricao {
    font-size: 1.25rem;
    line-height: 30px;
    color: #667085;
}

.chamada__imagem-reuniao {
    margin: 64px 0 0;
    width: 84%;
    max-width: 1216px;
}
/**/

.vagas {
    font-weight: 500;
    width: 53%;
    margin: 0 auto 96px;
    display: grid;
    row-gap: 64px;
}

.vagas-setor {
    display: grid;
    gap: 24px;
}

.vagas__titulo-principal {
    font-size: 1.25rem;
    color: #101828;
    margin-bottom: 8px;
}

.vagas__conteudo {
    padding: 24px 24px 28px;
    height: 84px;
    display: grid;
    align-items: center;
    gap: 32px;
    border: 1px solid #EAECF0;
    border-radius: 16px;
}

.vagas__titulo-da-vaga {
    font-size: 1.125rem;
    color: #101828;
}

.vagas__detalhes {
    color: #667085;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 24px;
}